/*RESET*/
*{margin: 0; padding: 0; box-sizing: border-box; outline: none;}




/*HEADER*/
header{ background-color:#ff6b81; font-family: arial;}
.logo h1 {color:aliceblue; margin-left: 10px;}
.logo {display: flex; align-items: center; padding: 10px 30px;}
.texto1 h1, h3{color:aliceblue; align-items: center;}
.texto1 h1{font-size: 35px;}
.imgcelular{padding-left: 1000px;}





/* MAIN */



/* ASIDE */


/* FOOTER */